#container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("https://shorturl.at/D7qje");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#bg-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
  inset: 0;
}

#hero-content {
  position: absolute;
  top: 26%;
  left: 24px;
  right: 42%;
  z-index: 1;
}
